.body{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    padding: auto;
}

/*NavBar*/
.navbar{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    background-color: pink;
    height: auto;
    border-radius: 5px;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.dropbtn{
    background-color: rgb(124, 43, 70);
    color: blanchedalmond;
    font-size: 35px;
    border-radius: 10px;
    margin-left: 20px;
}
.dropbtn1{
    background-color: palevioletred;
    color: blanchedalmond;
    font-size: 30px;
    border-radius: 10px;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    right: 10px;
    z-index: 2;
}

.link{
    color: palevioletred;
    padding: 5px 6px;
    text-decoration: none;
    display: block;
    
}
.title{
    margin-top: 100px;
    font-size: 50px;
}
/*Main-Container*/
.main-container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 10px;
}

.main-container>img{
    border-radius: 10px;
}

/*HOVER EffECTS*/
.dropdown:hover .dropdown-content{
    display: block;
}

.dropbtn:hover {
    background-color: palevioletred;
    text-decoration: underline;
    font-size: 37;
}

.link:hover{
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
}

.dropbtn1:hover{
    background-color: rgb(143, 84, 104);
    color: rgb(239, 218, 188);
}